body {
    background-color: rgb(66, 66, 66);
}

h2 {
    color: blueviolet;
}

p, a {
    color: whitesmoke;
}

h3 {
    background-color: black;
    color: aqua;
}

ol {
    background-color: orange;
}

ul {
    background-color: yellowgreen;
}